<GridLayout columns="*" (tap)="close($event)">
    <Image #screenshot [src]="img" visibility="collapse" col="0"></Image>
    <Image (tap)="exitGame()" class="closeBtn" src="res://white_close_btn" horizontalAlignment="left"></Image>
    <WebView #myWebView (loaded)="updateMenuBtnColor()" col="0" [src]="url"></WebView>
    <Button #button1 (tap)="menuButtonTap($event)" [visibility]="menuButtonVisibility ? 'visible' : 'collapsed'" text="¥" col="0" class="menu"></Button>

    <GridLayout #menuContainer columns="auto" rows="auto, auto, auto" [visibility]="menuVisibility ? 'visible' : 'collapsed'" horizontalAlignment="right" verticalAlignment="middle" (tap)="doNothing($event)">
        <GridLayout #transferContainer id="transferContainer" class="redText" row="0" columns="auto, auto" rows="auto, auto" horizontalAlignment="right">
            <Button class="thick" [visibility]="transferMenuVisibility ? 'visible' : 'collapsed'" text="进" col="0" row="0" (tap)="transferIn($event)"></Button>
            <Button class="thick" [visibility]="transferMenuVisibility ? 'visible' : 'collapsed'" text="出" col="0" row="1" (tap)="transferOut($event)"></Button>
            <Button class="thick" text="转账" (tap)="transferButtonTap($event)" col="1" rowSpan="2" verticalAlignment="top"></Button>
        </GridLayout>
        <GridLayout translateY="50" #saveContainer id="saveContainer" [visibility]="saveContainerToggle ? 'collapsed' : 'visible'" class="redText" row="1" columns="auto, auto, auto" rows="auto, auto, auto" horizontalAlignment="right">
            <Button class="thick" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="主账户余额" col="0" row="0" (tap)="mainAccountTap($event)"></Button>
            <Button class="thin" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="¥49,999" col="1" row="0" (tap)="mainAccountTap($event)"></Button>
            <Button class="thick" text="存款" col="2" row="0" rowSpan="2" (tap)="saveButtonTap($event)" verticalAlignment="top"></Button>
            <Button class="thick" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="微信支付" col="0" row="1" (tap)="weChatPayTap($event)"></Button>
            <Button class="thin" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="¥1000" col="1" row="1" (tap)="weChatPayTap($event)"></Button>
            <Button class="thick" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="银行转账" col="0" row="2" (tap)="bankTransferTap($event)"></Button>
            <Button class="thin" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="¥200,000" col="1" row="2" (tap)="bankTransferTap($event)"></Button>
        </GridLayout>
        <GridLayout class="whiteText" columns="auto, auto" row="2" horizontalAlignment="right">
            <StackLayout col="0">
                <GridLayout columns="auto, auto">
                    <Label class="thin" text="主账户余额" col="0"></Label>
                    <Label class="thick" text="¥9,725,000.00" col="1"></Label>
                </GridLayout>
                <StackLayout orientation="horizontal">
                    <StackLayout class="autoWH">
                        <Label class="thin" text="实况电投"></Label>
                        <Label class="thick" text="¥1,000,000"></Label>
                    </StackLayout>
                    <StackLayout class="autoWH">
                        <Label class="thin" text="沙巴体育"></Label>
                        <Label class="thick" text="¥1,000,000"></Label>
                    </StackLayout>
                    <StackLayout class="autoWH">
                        <Label class="thin" text="金星馆"></Label>
                        <Label class="thick" text="¥1,000,000"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
            <Label class="thick" text="¥" col="1"></Label>
        </GridLayout>
        <GridLayout #saveContainer2 id="saveContainer2" [visibility]="saveContainerToggle ? 'visible' : 'collapsed'" class="redText" row="3" columns="auto, auto, auto" rows="auto, auto, auto" horizontalAlignment="right">
            <Button class="thick" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="主账户余额" col="0" row="0" (tap)="mainAccountTap($event)"></Button>
            <Button class="thin" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="¥49,999" col="1" row="0" (tap)="mainAccountTap($event)"></Button>
            <Button class="thick" text="存款" col="2" row="0" rowSpan="2" (tap)="saveButtonTap($event)" verticalAlignment="top"></Button>
            <Button class="thick" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="微信支付" col="0" row="1" (tap)="weChatPayTap($event)"></Button>
            <Button class="thin" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="¥1000" col="1" row="1" (tap)="weChatPayTap($event)"></Button>
            <Button class="thick" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="银行转账" col="0" row="2" (tap)="bankTransferTap($event)"></Button>
            <Button class="thin" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'" text="¥200,000" col="1" row="2" (tap)="bankTransferTap($event)"></Button>
        </GridLayout>
    </GridLayout>

    <GridLayout class="redText" columns="auto, auto" rows="auto, auto, auto, auto, auto, auto" [visibility]="offlineTopUpVisibility ? 'visible' : 'collapsed'" horizontalAlignment="center" verticalAlignment="middle">
        <Label text="线下充值" row="0" col="0"></Label>
        <Label text="¥20 - ¥200,000" row="0" col="1"></Label>
        <Label text="银行名称" row="1" col="0"></Label>
        <TextField hint="招商银行" row="1" col="1"></TextField>
        <TextField hint="充入金额" colSpan="2" row="2"></TextField>
        <TextField hint="备注" colSpan="2" row="3"></TextField>
        <Label text="手机短信通知" row="4" col="0"></Label>
        <Label text="电子邮件通知" row="4" col="1"></Label>
        <Button text="确定" row="5" colSpan="2"></Button>
    </GridLayout>

    <GridLayout id="mainAccountContainer" class="redText" columns="auto" rows="auto, auto, auto" [visibility]="mainAccountVisibility ? 'visible' : 'collapsed'" horizontalAlignment="center" verticalAlignment="middle">
        <Image (tap)="closeMainAccount()" class="closeBtn" src="res://button_close" horizontalAlignment="right"></Image>
        <Label text="主账户余额" row="0" col="0"></Label>
        <TextField #payAmt (textChange)="textChange1(payAmt.text)" hint="支付金额(¥)" row="1"></TextField>
        <Button #mainAccountSubmitBtn [isEnabled]="isFilled1" text="确定" row="2"></Button>
    </GridLayout>

    <GridLayout class="redText" columns="auto, auto" rows="auto, auto, auto, auto, auto, auto, auto, auto" [visibility]="saveVisibility ? 'visible' : 'collapsed'" horizontalAlignment="center" verticalAlignment="middle">
        <Image (tap)="closeSave()" col="1" class="closeBtn" src="res://button_close" horizontalAlignment="right"></Image>
        <Label text="进" row="0" col="0"></Label>
        <Label text="点击户口转钱" row="0" col="1"></Label>
        <StackLayout (onTap)="selection()" col="0" row="1">
            <Label text="实况电投"></Label>
            <Label text="¥1,000,000"></Label>
        </StackLayout>
        <StackLayout (onTap)="selection()" col="1" row="1">
            <Label text="沙巴体育"></Label>
            <Label text="¥1,000,000"></Label>
        </StackLayout>
        <StackLayout (onTap)="selection()" col="0" row="2">
            <Label text="金星馆"></Label>
            <Label text="¥1,000,000"></Label>
        </StackLayout>
        <StackLayout (onTap)="selection()" col="1" row="2">
            <Label text="木星馆"></Label>
            <Label text="¥1,000,000"></Label>
        </StackLayout>
        <StackLayout (onTap)="selection()" col="0" row="3">
            <Label text="水星馆"></Label>
            <Label text="¥1,000,000"></Label>
        </StackLayout>
        <StackLayout (onTap)="selection()" col="1" row="3">
            <Label text="土星馆"></Label>
            <Label text="¥1,000,000"></Label>
        </StackLayout>
        <StackLayout (onTap)="selection()" col="0" row="4">
            <Label text="Playtech"></Label>
            <Label text="¥1,000,000"></Label>
        </StackLayout>
        <StackLayout (onTap)="selection()" col="1" row="4">
            <Label text="TTG"></Label>
            <Label text="¥1,000,000"></Label>
        </StackLayout>

        <TextField #transferAmt (textChange)="textChange2(transferAmt.text, passcode.text)" hint="转账金额" row="5" colSpan="2"></TextField>
        <TextField #passcode (textChange)="textChange2(transferAmt.text, passcode.text)" hint="红利代码" row="6" colSpan="2"></TextField>
        <Button #transferSubmitBtn [isEnabled]="isFilled2" text="确定" row="7" colSpan="2"></Button>
    </GridLayout>
</GridLayout>