.menuBtn {
    border-radius: 35;
    background-color: #C60000;
    opacity: 0.6;
    color: white;
    width: 70px;
    height: 70px;
    margin-right: -25px;
    text-align: left;
    padding: 20px;
    horizontal-align: right;
}

.menu {
    padding: 0 10px 0 10px;
    margin: 0 0 5px 0;
}

.transfer, .money, .save {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 25;
    horizontal-align: right;
}

.transfer {
    margin: -150px 60px 0 0;
}

.money {
    margin: 0 100px 0 0;
}

.save {
    margin: 150px 60px 0 0;
}
    
.thin {
    font-weight: 200;
}

.thick {
    font-weight: 700;
}

.redText {
    color: #CD1F1F;
    // padding: 20px;
    border: 1px solid black;
    // opacity: 0.8;
    Button {
        font-size: 13pt;
    }
}

.whiteBG {
    background-color: white;
}

.divider {
    margin-right: 20px;
}



.whiteText {
    color: white;
    padding: 20px;
    background-color: red;
    Label {
        font-size: 13pt;
    }
}

.closeBtn {
    margin: -20px -20px 0 0;
}

.autoWH {
    width: auto;
    height: auto;
}

.submitBtn {
    color: white;
    background-color: #979797;
    // width: 100%;
}

.message {
    color: white;
    background-color: #4C5A6B;
    opacity: 0.87;
    padding: 20px 50px 20px 50px;
}

.headerTitle {
    font-weight: 700;
    font-size: 18pt;
    margin-right: 40px;
}

.header {
    margin-bottom: 20px;
}

.number {
    color: #4C5A6B;
}

.optionsBar {
    padding: 10px;
    background-color: #C60000;
    opacity: 0.6;

    .optionsBarTop {
        margin-bottom: 20px;
    }

    .description {
        font-size: 12pt;
    }

    Label {
        color: white;
        opacity: 1;
        text-align: left;
    }

    .value {
        font-size: 18pt;
    }

    .icon {
        font-size: 50pt;
    }
}

.transferContainer {
    padding: 20px;

    .description {
        font-size: 12pt;
    }

    .subwallets {
        margin: 10px 20px 10px 20px;
    }
}

.subSaveContainer {
    padding: 20px;

    .description {
        font-size: 12pt;
    }

    .subwallets {
        padding: 10px 20px 10px 20px;
    }

    .value {
        font-size: 18pt;
    }

    .subSaveForm {
        margin: 20px 0 20px 0;
        color: #CD1F1F;
    }

    .selected {
        background-color: #979797;
    }
}

.mainAccountContainer {
    padding: 20px;

    .mainAccountForm {
        margin: 20px 0 20px 0;
        color: #CD1F1F;
    }

    .description {
        font-size: 12pt;
    }
}
