.menuBtn {
    border-radius: 44;
    background-color: rgba(198, 0, 0, 0.7);
    color: white;
    width: 88px;
    height: 88px;
    margin-right: -40px;
    text-align: left;
    padding: 20px;
    horizontal-align: right;
}

.menuContainer {
    margin: -50px －44px 0 0;
}
    
.thin {
    font-weight: 200;
}

.thick {
    font-weight: 500;
}

.redText {
    color: #CD1F1F;

    Button {
        font-size: 13pt;
    }
}

.whiteBG {
    background-color: white;
    /* BG: */
    background: rgba(255,255,255,0.80);
    box-shadow: -2px 1px 4px 0px rgba(0,0,0,0.50);
}

.divider {
    margin-right: 20px;
}

.whiteText {
    color: white;
    padding: 20px;
    background-color: red;
    Label {
        font-size: 13pt;
    }
}

.closeBtn {
    margin: -15px 5px 0 0;
}

.autoWH {
    width: auto;
    height: auto;
}

.submitBtn {
    color: white;
    background-color: #979797;
    width: 100%;
    padding: 10px auto 10px auto;
}

.message {
    color: white;
    background-color: #4C5A6B;
    opacity: 0.9;
    padding: 20px 50px 20px 50px;
}

.headerTitle {
    font-weight: 700;
    font-size: 18pt;
    margin-right: 40px;
}

.header {
    margin-bottom: 20px;
}

.number {
    color: #4C5A6B;
}

.optionsBar {
    padding: 0;
    background-color: rgba(198, 0, 0, 0.7);
    height: 88px;

    .optionsBarInfo {
        width: 270px;
        padding: 0 0 0 5px;
        background-image: url('http://www.colorhexa.com/edb4b4.png');
        background-repeat: repeat-y;
        background-position: right;
        background-size: 1px 1px;
    }

    .optionsBarTop {
        margin-bottom: 10px;

        .cent {
            font-size: 13pt;
            vertical-align: bottom;
        }

        .yuan {
            font-size: 24pt;
            vertical-align: bottom;
        }
    }

    .optionsBarBottom {
        overflow: scroll;
    }

    .description {
        font-size: 13pt;
        vertical-align: bottom;
    }

    Label {
        color: white;
        text-align: left;
    }

    .value {
        font-size: 24pt;
    }

    .icon {
        font-size: 35pt;
        padding: 0 15px 0 15px;
        // border-width: 1;
        // border-color: white;
    }
}

.transferMenuContainer {
    background-color: rgba(255, 255, 255, 0.8);

    .options {
        margin: 0;
        background-image: url('http://www.colorhexa.com/edb4b4.png');
        background-repeat: repeat-y;
        background-position: right;
        background-size: 1px 1px;

        .optionsBtn {
            font-size: 14pt;
            font-weight: 700;
            padding: 5px 10px 5px 10px;
        }
    }

    .mainBtn {
        font-weight: 700;
        font-size: 16pt;
        padding: 5px 10px 5px 10px;
    }
}

.transferContainer {
    padding: 20px 0 0 0;
    width: 40%;
    // border-color: #EDB4B4;
    // border-width: 1;

    .header {
        margin: auto auto auto 20px;
    }

    .description {
        font-size: 12pt;
    }

    .subwallets {
        margin: 10px 20px 10px 20px;
    }

    .mainBtn {
        font-weight: 700;
        font-size: 16pt;
    }
}

.saveContainer {
    background-color: rgba(255, 255, 255, 0.8);

    .options {
        width: 270px;
        padding: 0 10px 0 10px;
        background-image: url('http://www.colorhexa.com/edb4b4.png');
        background-repeat: repeat-y;
        background-position: right;
        background-size: 1px 1px;

        .description {
            font-weight: 700;
            font-size: 16pt;
        }
    }

    .mainBtn {
        font-weight: 700;
        font-size: 16pt;
        padding: 5px 10px 5px 10px;
    }
}

.subSaveContainer {
    padding: 20px 0 0 0;
    width: 40%;

    .header {
        margin: auto auto auto 20px;
    }

    .description {
        font-size: 12pt;
    }

    .subwallets {
        padding: 10px 20px 10px 20px;
    }

    .value {
        font-size: 18pt;
    }

    .subSaveForm {
        margin: 20px 0 20px 0;
        color: #CD1F1F;
        horizontal-alignment: left;
        width: 100%;
        padding: auto 20px auto 20px;
    }

    .selected {
        background-color: #979797;
    }
}

.mainAccountContainer {
    padding: 20px 0 0 0;
    width: 40%;
    border-radius: 10px;

    .header {
        margin: auto auto 0 20px;

        .headerTitle {
            font-weight: 700;
        }
    }

    .mainAccountForm {
        margin: 20px;
        color: #CD1F1F;
    }

    .description {
        font-size: 12pt;
    }

    .submitBtn {
        padding: 10px auto 10px auto;
    }
}

.offlineTopUpContainer {
    padding: 20px 0 0 0;
    width: 40%;

    .header {
        margin: auto auto auto 20px;
    }
    
    .headerTitle {
        font-weight: 700;
    }

    .description {
        font-size: 12pt;
    }

    .bankSelection {
        margin: 0 20px 10px 20px;

        .bank {
            padding: 5px 10px;
            background-color: #CD1F1F;
            color: white;
        }

        .bankDropDown {
            background-color: #FFCDCD;
            width: 100%;
            padding: 5px 10px;
        }
    }

    .amountInput {
        margin: 0 0 10px 0;
        width: 100%;
        padding: 5px 20px 5px 20px;

    .submitBtn {
            padding: 10px auto 10px auto;
        }
    }

    .contactOptions {
        border-color: #C60000;
        border-width: 1;
        margin: 0 0 20px 0;
        font-size: 12pt;
        margin: auto 20px;
        // padding: 5px auto 5px auto;

        .amountInput {
            margin: auto 20px;
        }

        .borderRight {
            background-repeat: repeat-y;
            background-position: right;
            background-size: 1px 1px;
            padding: 5px auto 5px auto;
        }
    }
}

.red {
    background-image: url('http://www.colorhexa.com/c60000.png');
}

.pink {
    background-image: url('http://www.colorhexa.com/edb4b4.png');
}

.borderRight {
    background-repeat: repeat-y;
    background-position: right;
    background-size: 1px 1px;
}

.borderBottom {
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 1px 1px;
}