<GridLayout columns="*" (tap)="close($event)">
    <Image #screenshot [src]="img" visibility="collapse" col="0"></Image>
    <Image (tap)="exitGame()" class="closeBtn" src="res://white_close_btn" horizontalAlignment="left"></Image>
    <!--<WebView #myWebView (loaded)="updateMenuBtnColor()" col="0" [src]="url"></WebView>-->
    <Image src="res://ingame_monkeyKing"></Image>
    <Button #button1 (tap)="menuButtonTap($event)" text="¥" [visibility]="menuButtonVisibility ? 'visible' : 'collapsed'" col="0" class="menuBtn"></Button>

    <GridLayout #menuContainer class="menuContainer" columns="auto" rows="auto, auto, auto" [visibility]="menuVisibility ? 'visible' : 'collapsed'" horizontalAlignment="right" verticalAlignment="middle" (tap)="doNothing($event)">
        <GridLayout #transferContainer class="transferMenuContainer redText whiteBG" row="0" columns="auto, auto" horizontalAlignment="right">
            <StackLayout class="options" [visibility]="transferMenuVisibility ? 'visible' : 'collapsed'" col="0">   
                <Button class="thick optionsBtn borderBottom pink" text="进" (tap)="transferIn($event)"></Button>
                <Button class="thick optionsBtn" text="出" (tap)="transferOut($event)"></Button>
            </StackLayout>
            <Button class="thick mainBtn" text="转账" (tap)="transferButtonTap($event)" col="1" verticalAlignment="top"></Button>
        </GridLayout>

        <GridLayout #saveContainer class="saveContainer redText whiteBG" [row]="saveContainerRow" columns="auto, auto" horizontalAlignment="right">
            <GridLayout class="options" rows="auto, auto, auto" col="0" [visibility]="saveMenuVisibility ? 'visible' : 'collapsed'">
                <Button horizontalAlignment="left" class="description" text="主账户余额" col="0" row="0" (tap)="mainAccountTap($event)"></Button>
                <Button horizontalAlignment="right" class="thin" text="¥50 - ¥49,999" col="1" row="0" (tap)="mainAccountTap($event)"></Button>
                <Button horizontalAlignment="left" class="description" text="微信支付" col="0" row="1" (tap)="weChatPayTap($event)"></Button>
                <Button horizontalAlignment="right" class="thin" text="¥50 - ¥1000" col="1" row="1" (tap)="weChatPayTap($event)"></Button>
                <Button horizontalAlignment="left" class="description" text="银行转账" col="0" row="2" (tap)="bankTransferTap($event)"></Button>
                <Button horizontalAlignment="right" class="thin" text="¥20 - ¥200,000" col="1" row="2" (tap)="bankTransferTap($event)"></Button>
            </GridLayout>
            <StackLayout col="1">
                <Button class="thick mainBtn" text="存款" (tap)="saveButtonTap($event)" verticalAlignment="top"></Button>
            </StackLayout>
        </GridLayout>

        <GridLayout class="optionsBar" columns="auto, auto" [row]="optionsBarRow" horizontalAlignment="right">
            <StackLayout class="optionsBarInfo" col="0">
                <StackLayout orientation="horizontal" class="optionsBarTop" horizontalAlignment="left">
                    <Label class="thin divider description" text="主账户余额"></Label>
                    <Label class="thick yuan" text="¥9,725,000"></Label>
                    <Label class="cent" text=".00"></Label>
                </StackLayout>
                <ScrollView orientation="horizontal" class="optionsBarBottom">
                    <StackLayout orientation="horizontal">
                        <StackLayout class="autoWH divider">
                            <Label class="thin description" text="实况电投" horizontalAlignment="left"></Label>
                            <Label class="thick value" text="¥1,000,000" horizontalAlignment="left"></Label>
                        </StackLayout>
                        <StackLayout class="autoWH divider">
                            <Label class="thin description" text="沙巴体育" horizontalAlignment="left"></Label>
                            <Label class="thick value" text="¥1,000,000" horizontalAlignment="left"></Label>
                        </StackLayout>
                        <StackLayout class="autoWH divider">
                            <Label class="thin description" text="金星馆" horizontalAlignment="left"></Label>
                            <Label class="thick value" text="¥1,000,000" horizontalAlignment="left"></Label>
                        </StackLayout>
                    </StackLayout>
                </ScrollView>
            </StackLayout>
            <Label class="thick icon" text="¥" col="1"></Label>
        </GridLayout>
    </GridLayout>

    <GridLayout class="offlineTopUpContainer redText whiteBG" columns="*" rows="auto, auto, auto" [visibility]="offlineTopUpVisibility ? 'visible' : 'collapsed'" horizontalAlignment="center" verticalAlignment="middle">
        <StackLayout class="header" orientation="horizontal" row="0" horizontalAlignment="left" verticalAlignment="top">
            <Label class="headerTitle divider" text="线下充值"></Label>
            <Label class="description" text="¥20 - ¥200,000"></Label>
        </StackLayout>
        <StackLayout row="1" horizontalAlignment="center" verticalAlignment="middle">
            <StackLayout class="bankSelection" (onTap)="selection($event)" orientation="horizontal" horizontalAlignment="left">
                <Label class="bank" text="银行名称"></Label>
                <TextField #merchantBank class="bankDropDown" hint="招商银行"></TextField>
            </StackLayout>
            <StackLayout class="amountInput" horizontalAlignment="left">
                <TextField #topUp (textChange)="textChange3(topUp.text, remark.text)" class="offlineTopUpForm borderBottom red" hint="充入金额"></TextField>
                <TextField #remark (textChange)="textChange3(topUp.text, remark.text)" class="offlineTopUpForm borderBottom red" hint="备注"></TextField>
            </StackLayout>
            <GridLayout class="contactOptions" columns="*, *">
                <GridLayout class="borderRight red">
                    <Label text="手机短信通知" col="0"></Label>
                </GridLayout>
                <Label text="电子邮件通知" col="1"></Label>
            </GridLayout>
        </StackLayout>
        <Button row="2" class="submitBtn" #transferSubmitBtn3 [isEnabled]="isFilled3" text="确定"></Button>
        <Image (tap)="closeOfflineTopUp()" class="closeBtn" src="res://button_close" horizontalAlignment="right" verticalAlignment="top" stretch ="none"></Image>
    </GridLayout>

    <GridLayout class="mainAccountContainer redText whiteBG" columns="auto" rows="auto, auto, auto" [visibility]="mainAccountVisibility ? 'visible' : 'collapsed'" horizontalAlignment="center" verticalAlignment="middle">
        <StackLayout class="header" orientation="horizontal" row="0" horizontalAlignment="left">
            <Label class="headerTitle divider" text="主账户余额"></Label>
            <Label class="description" text="¥50 -"></Label>
        </StackLayout>
        <TextField class="mainAccountForm borderBottom red" #payAmt (textChange)="textChange1(payAmt.text)" hint="支付金额(¥)" row="1"></TextField>
        <Button row="2" class="submitBtn" #mainAccountSubmitBtn [isEnabled]="isFilled1" text="确定"></Button>
        <Image (tap)="closeMainAccount()" class="closeBtn" src="res://button_close" horizontalAlignment="right" verticalAlignment="top"></Image>
    </GridLayout>

    <GridLayout class="redText whiteBG transferContainer" columns="*" rows="auto, auto" [visibility]="saveVisibility ? 'visible' : 'collapsed'" horizontalAlignment="center" verticalAlignment="middle">
        <StackLayout class="header" orientation="horizontal" row="0" horizontalAlignment="left" verticalAlignment="top">
            <Label class="headerTitle" [text]="transferText"></Label>
            <Label class="description" text="点击户口转钱"></Label>
        </StackLayout>
        <GridLayout row="1" columns="*, *" rows="auto, auto, auto, auto" horizontalAlignment="center" verticalAlignment="middle">
            <StackLayout class="subwallets" (onTap)="selection($event)" col="0" row="0">
                <Label class="description" text="实况电投"></Label>
                <Label class="number" text="¥1,000,000"></Label>
            </StackLayout>
            <StackLayout class="subwallets" (onTap)="selection($event)" col="1" row="0">
                <Label class="description" text="沙巴体育"></Label>
                <Label class="number" text="¥1,000,000"></Label>
            </StackLayout>
            <StackLayout class="subwallets" (onTap)="selection($event)" col="0" row="1">
                <Label class="description" text="金星馆"></Label>
                <Label class="number" text="¥1,000,000"></Label>
            </StackLayout>
            <StackLayout class="subwallets" (onTap)="selection($event)" col="1" row="1">
                <Label class="description" text="木星馆"></Label>
                <Label class="number" text="¥1,000,000"></Label>
            </StackLayout>
            <StackLayout class="subwallets" (onTap)="selection($event)" col="0" row="2">
                <Label class="description" text="水星馆"></Label>
                <Label class="number" text="¥1,000,000"></Label>
            </StackLayout>
            <StackLayout class="subwallets" (onTap)="selection($event)" col="1" row="2">
                <Label class="description" text="土星馆"></Label>
                <Label class="number" text="¥1,000,000"></Label>
            </StackLayout>
            <StackLayout class="subwallets" (onTap)="selection($event)" col="0" row="3">
                <Label class="description" text="Playtech"></Label>
                <Label class="number" text="¥1,000,000"></Label>
            </StackLayout>
            <StackLayout class="subwallets" (onTap)="selection($event)" col="1" row="3">
                <Label class="description" text="TTG"></Label>
                <Label class="number" text="¥1,000,000"></Label>
            </StackLayout>
        </GridLayout>
        <Label (tap)="selection()" text="点击户口转钱" class="message" [visibility]="messageVisibility ? 'visible' : 'collapsed'" horizontalAlignment="center" verticalAlignment="middle" rowSpan="2"></Label>
        <Image (tap)="closeSave()" class="closeBtn" src="res://button_close" horizontalAlignment="right" verticalAlignment="top" stretch ="none"></Image>
    </GridLayout>

    <GridLayout class="subSaveContainer redText whiteBG" columns="*" rows="auto, auto, auto" [visibility]="subSaveVisibility ? 'visible' : 'collapsed'" horizontalAlignment="center" verticalAlignment="middle">
        <StackLayout class="header" orientation="horizontal" row="0" horizontalAlignment="left" verticalAlignment="top">
            <Label class="headerTitle" text="进"></Label>
            <Label class="description divider" horizontalAlignment="right" text="主账户余额"></Label>
            <Label class="value" text="¥725.00"></Label>
        </StackLayout>
        <GridLayout row="1" columns="*, *" rows="auto, auto, auto" horizontalAlignment="center" verticalAlignment="middle">
            <StackLayout class="subwallets selected" (onTap)="selection($event)" col="0" row="1">
                <Label class="description" text="Playtech"></Label>
                <Label class="number" text="¥1,000,000"></Label>
            </StackLayout>
            <StackLayout class="subwallets" (onTap)="selection($event)" col="1" row="1">
                <Label class="description" text="TTG"></Label>
                <Label class="number" text="¥1,000,000"></Label>
            </StackLayout>
            <StackLayout class="subSaveForm" row="2" colSpan="2" horizontalAlignment="left">
                <TextField #transferAmt class="red borderBottom" (textChange)="textChange2(transferAmt.text, passcode.text)" hint="转账金额" colSpan="2"></TextField>
                <TextField #passcode class="red borderBottom" (textChange)="textChange2(transferAmt.text, passcode.text)" hint="红利代码" colSpan="2"></TextField>
            </StackLayout>
        </GridLayout>
        <Button row="2" class="submitBtn" #transferSubmitBtn2 [isEnabled]="isFilled2" text="确定"></Button>
        <Image (tap)="closeSubSaveAccount()" class="closeBtn" src="res://button_close" horizontalAlignment="right" verticalAlignment="top" stretch ="none"></Image>
    </GridLayout>
</GridLayout>